[2016-03-03 13:56] Ellenvdw opened #1 "downloading the declutter Edit Form Script on mac 10.9.5 in FF44.0.2"
Hi Benjamin :-)
tried to download the declutter Edit Form Script by clicking on the icon  (:floppy_disk:)
but it seems to open the .js file in the browser instead.
Is this a setting in FF or has this something to do with the way the page is setup?
kr
Ellen

-> ignore this message. After reinstalling the monkey it's ok!

[2016-03-03 13:58] #1 closed, assigned to nobody

[2016-03-03 14:36] evcr opened #2 "Merging 2 chapters on https://github.com/tuxfre/esko-SC-scripts"
Can “List of currently usable scripts” and “Install and pre-requisites” chapter/ WIKI pages be merged ? They seem to contain similar info.

[2016-03-03 14:49] tuxfre commented on #2
I can surely consider that.
But I'm afraid that the page would become too long (if we add new scripts) and users would't read everything.
Also I believe it would be easier to point the users to the install doc if it has its own page.

What would be the rationale / use case for having everything on the same page?

[2016-03-03 14:58] tuxfre commented on #1
Hi @Ellenvdw,

Is it no longer an issue or was it an accidental close?
Let me know if I shall act. I can connect on your machine (don't post the details here, message me via Lync if needed)

[2016-03-04 07:55] Ellenvdw commented on #1
Hi @tuxfre I already closed the case...opened it too soon. sorry. after I reinstalled the monkey it was ok. so I guess the first time I installed the monkey something must have gone wrong.
so yes it's solved now. I have to disappoint you, as you don't need to do something for this one :-)

[2016-03-04 08:18] tuxfre commented on #1
hi @Ellenvdw,

I can't complain of having less work to do ;)

Thanks for the update!

[2016-03-04 14:17] tuxfre opened #3 "[Fake ticket used to store screencaps and images]"
![screen shot 2016-03-04 at 15 13 12](https://cloud.githubusercontent.com/assets/600530/13529381/31129c3a-e21c-11e5-9e52-d139987da376.png)

[2016-03-04 14:17] #3 closed, assigned to nobody

[2016-03-04 14:27] tuxfre commented on #3
![screen shot 2016-03-04 at 15 27 29](https://cloud.githubusercontent.com/assets/600530/13529668/a4996cf0-e21d-11e5-83d4-54893f93b7bf.png)

[2016-03-04 14:35] tuxfre commented on #3
![screen shot 2016-03-04 at 15 31 12](https://cloud.githubusercontent.com/assets/600530/13529878/bb2fed08-e21e-11e5-908a-6a8432a3ed52.png)

[2016-03-04 14:38] tuxfre commented on #3
![image003](https://cloud.githubusercontent.com/assets/600530/13529960/2360983c-e21f-11e5-809f-563c1722814c.png)

[2016-03-07 14:19] tuxfre commented on #2
Hi @evcr,

Do we still keep this one open?

[2016-03-08 08:32] evcr commented on #2
Hi Benjamin, You can close this case

From: Benjamin [mailto:notifications@github.com]
Sent: Monday, March 07, 2016 3:20 PM
To: tuxfre/esko-SC-scripts
Cc: Creten, Eva
Subject: Re: [esko-SC-scripts] Merging 2 chapters on https://github.com/tuxfre/esko-SC-scripts (#2)

Hi @evcrhttps://github.com/evcr,

Do we still keep this one open?

—
Reply to this email directly or view it on GitHubhttps://github

[2016-03-08 08:36] tuxfre commented on #2
@evcr
Ok Eva, let's close!

[2016-03-08 08:36] #2 closed, assigned to nobody

[2016-03-10 13:53] tuxfre commented on #3
![screen shot 2016-03-10 at 14 52 35](https://cloud.githubusercontent.com/assets/600530/13671362/d592676a-e6cf-11e5-9cc3-886585437bc5.png)

[2016-03-10 14:24] tuxfre commented on #3
![screen shot 2016-03-10 at 09 29 08](https://cloud.githubusercontent.com/assets/600530/13672234/351a9640-e6d4-11e5-890f-f9831fb384fe.png)

[2016-03-10 16:20] andsesko opened #4 "Feature Request: ServiceCloud Declutter Edit Form for Send to R&D / Send to Licensing"
# Esko SC Script issue
## Affected script
### Name: ServiceCloud Declutter Edit Form
### Version: Irrelevant
## OS
### Name: Irrelevant
### Version: Irrelevant
### Language: Irrelevant
## Browser
### Name: Irrelevant
### version: Irrelevant
### language (if different from OS): Irrelevant
## Short summary if your issue: ServiceCloud Declutter Edit Form for Send to R&D / Send to Licensing
## Steps t

[2016-03-10 17:58] LynneJ opened #5 "Telescope Status - NA - wrong link"
# Esko SC Script issue
## Script
### Name: Telescope status script
### Version:
## OS
### Name: Windows
### Version:  7 professional
### Language: eng
## Browser
### Name: Firefox
### version: 44.0.2
### language (if different from OS):
## Short summary if your issue:

link not correct for NA telescope data
## Steps to reproduce the issue:

get telescope info from NA customer D01025 - see case 006

[2016-03-10 18:22] tuxfre commented on #5
Hi @LynneJ,

Just one question, are all US-based customers on this server? Or is it a server for the US-based CS team?

I'm not familiar with the North-Amercian org, so please excuse the silly questions :innocent:

[2016-03-10 18:27] tuxfre commented on #4
Hi @andsesko,

I'm not sure buttons are possible, but I could "maybe" try to capture the value of the "Status" field
![screen shot 2016-03-10 at 19 25 03](https://cloud.githubusercontent.com/assets/600530/13679787/d6b40e16-e6f5-11e5-9430-06de36ff0e86.png)

And fold/unfold sections based on the scenario you suggest.

I'd have to estimate the effort required, I guess I'd need between 0,5 and 1 day,

[2016-03-10 18:58] LynneJ commented on #5
I believe all of the telescope data for NA is on that server.

Lynne Johnson  |  Application Support Specialist  |  Esko

For all support, visit: www.esko.com/en/Support/http://www.esko.com/en/Support/

From: Benjamin [mailto:notifications@github.com]
Sent: Thursday, March 10, 2016 12:22 PM
To: tuxfre/esko-SC-scripts
Cc: Johnson, Lynne
Subject: Re: [esko-SC-scripts] Telescope Status - NA - wrong l

[2016-03-10 19:00] andsesko commented on #4
Hi @tuxfre ,

No problem, I'm just suggesting. Up to you to see if it is feasible/desirable/worth the effort.

Cheers,
Andy

[2016-03-11 07:50] andsesko opened #6 "List View Highlighter vs office hours"
# Esko SC Script issue
## Affected script
### Name: ServiceCloud List View Highlighter
### Version: 16
## OS
### Name: Mac OS X
### Version: 10.9.5
### Language: English
## Browser
### Name: FireFox
### version: 44.0.2
### language (if different from OS): English
## Short summary if your issue: List View Hghlighter does not take into account working hours?
## Steps to reproduce the issue: Looking

[2016-03-11 07:59] tuxfre commented on #6
Hi @andsesko

By design it only account the time spent, not the office hours.
That's a known limitation, it will affect a small part of the logs.

The idea here is to help with the biggest part of the 'bunch' of logs.

Implementing office hours is far from being easy and will only change the situation for a limited set of cases.

If, this is really a showstopper amongst users, then we can discuss

[2016-03-11 07:59] #6 closed, assigned to nobody

[2016-03-11 08:14] andsesko commented on #6
Hi @tuxfre,

Was afraid so. Thanks for confirming.
I can live with it; won't let perfect get in the way of better (yes, it;s definitely an improvement and should indeed cover the vast majority of the cases correctly) ;o)

Kind Regards,
Andy

[2016-03-11 08:47] tuxfre commented on #5
Hi @LynneJ

I'm going to have a look at the NA telescope, and see how I can detect a report is on there.

I'll keep you updated in here

Have great weekend!

Benjamin

[2016-03-11 08:52] tuxfre commented on #5
@LynneJ

One last question, are all the NA customer IDs in the form DXXXXX (where XXXXX is a number)?

Because I could maybe use that to easily distinguish the reports that are on the NA server.

[2016-03-11 13:52] LynneJ commented on #5
No, it’s a mess.
Prepress customers start with D
Kongburg table start with S
Artios customers start with A
HP press sites start with N

If they have all of the above – it could be any of them??
Lynne Johnson  |  Application Support Specialist  |  Esko

For all support, visit: www.esko.com/en/Support/http://www.esko.com/en/Support/

From: Benjamin [mailto:notifications@github.com]
Sent: Friday, Mar

[2016-03-11 14:04] tuxfre commented on #5
Thanks @LynneJ!

Of course, if it had been easy and simple it wouldn't have been fun :smile:
But if they follow some kind of YXXXXX where Y is either D, S, A or N... that's fine by me, I can use this as a starting point.

I'm fighting a date format issue with the highlighter and I'll have a look at how I can work with the telescope server (probably next week).

Have a great weekend!

Benjamin

[2016-03-11 14:06] LynneJ commented on #5
They are all 6 characters at least.

Thanks for all the hard work on these tools!

Lynne Johnson  |  Application Support Specialist  |  Esko

For all support, visit: www.esko.com/en/Support/http://www.esko.com/en/Support/

From: Benjamin [mailto:notifications@github.com]
Sent: Friday, March 11, 2016 8:05 AM
To: tuxfre/esko-SC-scripts
Cc: Johnson, Lynne
Subject: Re: [esko-SC-scripts] Telescope Stat

[2016-03-14 08:32] korinapieters opened #7 "Telescope user script -> not showing Telescope report for APAC customers"
# Esko SC Script issue
## Affected script
### Name: ServiceCloud Telescope Status
### Version: 2
## OS
### Name: Windows
### Version:
### Language:
## Browser
### Name: Chrome
### version:
### language (if different from OS):
## Short summary if your issue: For APAC customers, no Telescope reports are shown. Although there exist a TeleScope report
## Steps to reproduce the issue:
1. Go to TBP, tab

[2016-03-14 11:17] korinapieters commented on #5
Hi Benjamin,
Same issue has been reported by our test user from Singapore.
Could you maybe consider making it a setting? By default 'Gent', but allowing the user to specify the server name that they work with, such as 'Vandalia' ?

Kind regards,
Korina

[2016-03-14 11:24] tuxfre commented on #7
Hi @korinapieters,

I agree, this is something I overlooked regarding telescope.

I'd need to know how many location we have for the data. I also think your suggestion in [issue 5](https://github.com/tuxfre/esko-SC-scripts/issues/4) is the best way to go.

I'm going to close this one as duplicate and we can continue there as this is a duplicate of #5

[2016-03-14 11:24] #7 closed, assigned to nobody

[2016-03-14 11:26] tuxfre commented on #5
Hi @korinapieters

Do you know who could provide me with a list of all the "servers" for Telescope? Because indeed this fix would be easy to implement the way you describe. A simple drop down in the config allowing to choose between North America, Asia and Europe ...

[2016-03-14 14:01] tuxfre commented on #5
Dear @LynneJ and @korinapieters,

I have just pushed an updated version (v4) that works using an extra preference to define which server to look at:
![screen shot 2016-03-14 at 14 56 08](https://cloud.githubusercontent.com/assets/600530/13746761/2730da7a-e9f5-11e5-8e93-012671b7f6f4.png)

Depending on browser/extension settings, and on caching the script may take up to 24h to update on your machine

[2016-03-14 14:10] tuxfre commented on #5
By the way, the info was published on the new ["Announcements" wiki page](https://github.com/tuxfre/esko-SC-scripts/wiki/Announcements#telescope-status-updated).

Don't hesitate to check this new page from time to time for updates and infos about the whole scripting project.

[2016-03-14 15:03] LynneJ commented on #5
This works great!

Thanks so much.

Lynne Johnson  |  Application Support Specialist  |  Esko

For all support, visit: www.esko.com/en/Support/http://www.esko.com/en/Support/

From: Benjamin [mailto:notifications@github.com]
Sent: Monday, March 14, 2016 9:01 AM
To: tuxfre/esko-SC-scripts
Cc: Johnson, Lynne
Subject: Re: [esko-SC-scripts] Telescope Status - NA - wrong link (#5)

Dear @LynneJhttps://

[2016-03-14 15:06] tuxfre commented on #5
There was a last (little) change, the labels were adapted to be more generic and cover all the regions:
![screen shot 2016-03-14 at 16 04 24](https://cloud.githubusercontent.com/assets/600530/13748777/8dff1ac4-e9fe-11e5-80fc-09c47fa7292b.png)

This means current version on the repo is now v5.

As always, if I broke something in the process, just let me know :wink:

[2016-03-16 14:40] tuxfre commented on #4
Hi @andsesko,

I just pushed an updated version (v6) that now checks the value of the "status" field (
![screen shot 2016-03-16 at 15 36 27](https://cloud.githubusercontent.com/assets/600530/13815972/ea36613c-eb8c-11e5-8212-50821cdd35be.png)) and folds/unfolds sections depending on that.
This means that for example, when you pick "Sent to License", you'll see only the sections "Case Information" a

[2016-03-16 14:58] tuxfre commented on #4
Announcement officially posted, see [Declutter updated](https://github.com/tuxfre/esko-SC-scripts/wiki/Announcements#declutter-updated)

[2016-03-16 15:29] andsesko commented on #4
You @tuxfre , Sir, are a star :o)

However one thing I noticed (just had a quick look): when I choose Sent to R&D, it unfolds "Description Information". "Global Support - R&D Information" would suite me better... (FF on Mac). Need to test more, or can you see what's wrong there?

Kind Regards,
Andy

[2016-03-16 15:37] tuxfre commented on #4
Hi @andsesko

Indeed, you're 101% right on this. It's a bug, I'm gonna fix this right now.
It's intended to work in the way you describe. If I'm luck it's just a copy/paste error, if not, more work will be needed.

Kind regards,
Benjamin

[2016-03-16 15:40] tuxfre commented on #4
Hi @andsesko

Should be fixed, right now, by version 7 :wink:

[2016-03-16 15:42] tuxfre commented on #5
I think we all agree that the setting did the trick.
So i'm closing this issue now

[2016-03-16 15:42] #5 closed, assigned to nobody

[2016-03-16 15:44] andsesko commented on #4
Hi @tuxfre ,

That looks nice indeed :o)
Thanks you!

Will keep an eye on it, will let you know if I would notice anything unexpected (but not expecting any ;o) ).

Kind Regards,
Andy

[2016-03-16 15:57] LynneJ commented on #5
I love it!

Lynne Johnson  |  Application Support Specialist  |  Esko

For all support, visit: www.esko.com/en/Support/http://www.esko.com/en/Support/

From: Benjamin [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 10:42 AM
To: tuxfre/esko-SC-scripts
Cc: Johnson, Lynne
Subject: Re: [esko-SC-scripts] Telescope Status - NA - wrong link (#5)

I think we all agree that the setting di

[2016-03-16 16:08] tuxfre commented on #4
@andsesko, I'm sure that if I forgot anything you'll spot it :wink:

if there's no issue before the weekend, we'll just close the issue (we can reopen if needed or create a new ticket)

[2016-03-21 10:00] evcr opened #8 "Highlighter not completely working anymore. See screendump."
![issue_highlight](https://cloud.githubusercontent.com/assets/17274740/13915226/b0a9beda-ef53-11e5-8770-cf49b1bad5ce.png)
# Esko SC Script issue
## Affected script
- Name: highlighter
- Version: version 18
## OS
- Name: Windows
- Version: 7 professional SP1
- Language: English
## Browser
- Name: FF
- version: 44.0.2
- language (if different from OS):
## Short summary if your issue

See screendump.

[2016-03-21 10:00] #4 closed, assigned to nobody

[2016-03-21 10:02] tuxfre commented on #8
Hi @evcr,

That's odd... seems to be working over here.

Can I see the way your date is formatted? (just capture the end of the line)

Thanks

[2016-03-21 13:33] tuxfre commented on #8
Dear @evcr

I may have an idea, I believe you're using a date format that has no padding zero four hours (meaning 09:05 is written 9:05).

I pushed a new version (v19) some seconds ago, commit 84e1fad081a4d0db28c80df401b30de55f5aea6a.

It should make it better for you.

Kr,

Benjamin

[2016-03-22 11:11] andsesko opened #9 "Job FOlder links have been modified to smb://CC-SW-Problemlog-Gent/CC-SW-Problemlog-Gent"
# Esko SC Script issue
## Affected script
- Name: ServiceCloud Local Links
- Version: 7
## OS
- Name: Mac
- Version: 10.9.5
- Language: Irrelevant
## Browser
- Name: FireFox
- version: 44.0.2
- language (if different from OS): -
## Short summary if your issue

To overcome connection issues to smb://esko-graphics.com/globalstorage/CC-SW-Problemlog-Gent - like many of us had on Mac), IT has replaced

[2016-03-22 11:19] tuxfre commented on #9
Hi @andsesko,

I just got a mail from @korinapieters telling me as well. I'll have to adapt the script. Maybe this afternoon.
I'm currently fighting the skills matrix, it may take some time.

[2016-03-22 11:20] tuxfre commented on #8
Hi @evcr

Can you confirm that v19 helps?

[2016-03-22 11:21] evcr commented on #8
Sorry didn't have time yet.
Yes absolutely ! You can close the case.
V19 works !
Thanks Benjamin !!!!

[2016-03-22 11:21] #8 closed, assigned to nobody

[2016-03-22 11:47] tuxfre commented on #9
@andsesko & @korinapieters

I just pushed a new version (v8) (see b3d475140439821dbcef28e125281b97fcceaed5).

Tried it quickly on my machine (OSX, with Safari) and it seems ok. Can you confirm?

Thanks

[2016-03-22 12:06] korinapieters commented on #9
Hi Benjamin,

I installed the new version but as I use Google Chrome (and not Firefox) the Local Link script doesn’t work.
When I click the link nothing happened.

[cid:image003.png@01D1843B.8C671DC0]

The jobfolder link itself I copy pasted to Windows Explorer and this works!

Kr,
Korina

Korina Pieters  |  Service Business System Engineer  |  Esko
T. +32 (0)9 216 90 19

[Description: Description

[2016-03-22 12:06] andsesko commented on #9
@tuxfre & @korinapieters ,

Works OK, thanks for the swift action!

Kind Regards,
Andy

[2016-03-22 12:50] tuxfre commented on #9
@korinapieters

Please remember that due to Chrome's security model, the support for the local links in Chrome comes with some limitations (see [Notes Regarding Google Chrome](https://github.com/tuxfre/esko-SC-scripts/wiki/*-Scripts-*-Local-Links#notes-regarding-google-chrome)).

Try installing the "[LocaLinks](https://chrome.google.com/webstore/detail/locallinks/fkkidcgelfcjmebocoaicnelkbnpgpmm)"

[2016-03-22 12:55] korinapieters commented on #9
Hi Benjamin,

Yes, it does show the correct folder. This is tested ☺.

Kr,
Korina

Korina Pieters  |  Service Business System Engineer  |  Esko
T. +32 (0)9 216 90 19

[Description: Description: esko-logo-mail]

Kortrijksesteenweg 1095
B-9051 Gent, Belgium

From: Benjamin [mailto:notifications@github.com]
Sent: Tuesday, March 22, 2016 1:50 PM
To: tuxfre/esko-SC-scripts
Cc: Pieters, Korina
Subject:

[2016-03-22 13:00] tuxfre commented on #9
@korinapieters
ok, so it's limited by Chrome.
I fear there is nothing else I can do, unfortunately :cry:. Unless esko decides to create their own build of Chromium without this security feature.

So let's close this issue!

[2016-03-22 13:00] #9 closed, assigned to nobody

[2016-03-22 13:02] korinapieters commented on #9
Sure!
Thanks for looking into this.

Korina Pieters  |  Service Business System Engineer  |  Esko
T. +32 (0)9 216 90 19

[Description: Description: esko-logo-mail]

Kortrijksesteenweg 1095
B-9051 Gent, Belgium

From: Benjamin [mailto:notifications@github.com]
Sent: Tuesday, March 22, 2016 2:00 PM
To: tuxfre/esko-SC-scripts
Cc: Pieters, Korina
Subject: Re: [esko-SC-scripts] Job FOlder links have be

[2016-03-22 13:35] saco-ekso opened #10 "Esko SC Script issue"
# Esko SC Script issue
## Affected script
- Name: List View Highlighter
- Version: 19
## OS
- Name: Windows
- Version: 7 Pro SP1
- Language: US English
## Browser
- Name: Firefox
- version: 45.01
- language (if different from OS):
## Short summary if your issue

Script is not working. Possibly the wrong date format?
## Steps to reproduce the issue

See screen shot below for view
![date format](htt

[2016-03-22 13:41] tuxfre commented on #10
hi @saco-ekso,

Does you capture show all your columns?
Because, if yes, you are lacking at least one required column for it to work (Contract Status).
Also, I see only waiting logs, the highlighter works only for "new" or "pending" cases.

A simple test to make sur if it's the date or not would be to use one of the default views provided by @korinapieters (I'm not sure how they're named for NA).

[2016-03-22 14:03] saco-ekso commented on #10
Thanks Benjamin,
I will test this with the default view.
Sam

[2016-03-22 14:42] saco-ekso commented on #10
Works with default CS: Support Engineers NA view

[2016-03-22 14:42] #10 closed, assigned to nobody

[2016-03-31 13:23] saco-ekso opened #11 "Local Links script"
# Esko SC Script issue
## Affected script
- Name: ServiceCloud Local Links
- Version:8
## OS
- Name: Windows
- Version: 7 Pro SP1
- Language: US English
## Browser
- Name: FireFox
- version:45.0.1
- language (if different from OS):
## Short summary if your issue

When I click on one of the links to a job folder a new tab is opened for the job folder but I cannot drag and drop a file into it. Is th

[2016-03-31 13:52] tuxfre commented on #11
Hi @saco-ekso,

Using the scripts, the links _should_ open in a Windows Explorer window instead of a new tab in Firefox. That's odd.
If you want you should be able to upload your movie here, by dropping it on the text box.

In theory, when using Firefox, you need also to add the custom [user.js](https://raw.githubusercontent.com/tuxfre/esko-SC-scripts/master/.resources/user.js) to your profile dir

[2016-03-31 17:06] saco-ekso commented on #11
I quit Firefox, deleted the old user.js file, created a new one and started Firefox, tried the link and it did not help.
The movie format is not excepted
Below are the Configuration Editor for Firefox settings you requested
![policies1](https://cloud.githubusercontent.com/assets/18007911/14184065/53fe00ec-f741-11e5-837d-b648a997c162.png)
![policies2](https://cloud.githubusercontent.com/assets/1800

[2016-03-31 17:09] saco-ekso commented on #11
Here's the movie. You will need to change the extension from .jpg to .mp4

![job folder link](https://cloud.githubusercontent.com/assets/18007911/14184137/b750faa0-f741-11e5-9bef-aa5833bf0a5f.jpg)

[2016-03-31 17:11] tuxfre commented on #11
Hi Sam,

I'll have a look at this tomorrow morning (it's already 7pm over here)

Thanks for the movie and captures!

Benjamin

[2016-03-31 17:12] saco-ekso commented on #11
Hi Benjamin,

That will be fine.

Have a great evening!

Kind regards,

Sam Cox | Application Support Specialist | Esko

For all support, visit help.esko.comhttp://help.esko.com/

[esko-logo-mail]

From: Benjamin [mailto:notifications@github.com]
Sent: Thursday, March 31, 2016 1:11 PM
To: tuxfre/esko-SC-scripts
Cc: Cox, Sam
Subject: Re: [tuxfre/esko-SC-scripts] Local Links script (#11)

Hi Sam,

I

[2016-04-01 07:12] tuxfre commented on #11
Hi Sam,

Something just crossed my mind, do you do a "normal" left-click, or are you using the "scrollwheel-click" (or any variant such as shift+click, crtl+click) that is meant to open files into a new tab?

I made a small movie that shows the difference between a "standard" left-click (first example in the video) and the "scrollwheel-click" (second example).

Check https://esko.box.com/click

Ki

[2016-04-01 12:15] saco-ekso commented on #11
Hi Benjamin,

I am using the normal left click. I did try all of the other variations and they produce the same result. The morning when I clicked on the link to Mac folders I was presented with the screen to choose an application to open it with. I chose Internet Explorer and it opens the program but get the message below, which I assume is expected.
![mac link](https://cloud.githubusercontent.co

[2016-04-01 12:22] tuxfre commented on #11
Hi Sam,

Indeed, it is expected that the mac link doesn't work on PC. But that was a very good test... because I think I may know where the issue comes from. It is possible that in Firefox's preferences, the file:// links are actually associated with Firefox itself instead of the Windows Explorer.

To check that you can go to the "Applications" section of the option panel (you can type [about:pref

[2016-04-01 12:29] saco-ekso commented on #11
Success!!! It works great!

Thanx for the help and have a great weekend!

[2016-04-01 12:31] tuxfre commented on #11
Very happy to have been able to help you!

I wish you also a very pleasant weekend.

[2016-04-01 12:31] #11 closed, assigned to nobody

[2016-04-01 20:36] saco-ekso commented on #11
Benjamin,
Can we reopen this. I just noticed the path to the folder is \CC-SW-Problemlog-Gent\CC-SW-Problemlog-Gent. For NA is should be S:\CC-SW-Problemlog-NA

[2016-04-01 20:43] tuxfre commented on #11
Hi Sam,

In my opinion, that's another issue ;)

Please open a new log, I'll have a look on monday.

I'll have to make some setting panel like for Telescope.

Have a nice weekend!

Benjamin

[2016-04-01 20:52] saco-ekso opened #12 "Wrong link for NA job folders"
# Esko SC Script issue
## Affected script
- Name: ServiceCloud Local Links
- Version: 8
## OS
- Name: Windows
- Version: 7 Pro SP1
- Language: US English
## Browser
- Name: Firefox
- version:45.0.1
- language (if different from OS):
## Short summary if your issue

The path in the link is \CC-SW-Problemlog-Gent\CC-SW-Problemlog-Gent. For NA is should be S:\CC-SW-Problemlog-NA
## Steps to reproduce

[2016-04-04 09:14] tuxfre commented on #12
Hi Sam,

I'll look into this. I'll probably go the easy way and add some option like with telescope (where you pick your server).

I'd also like to ask @korinapieters if she knows if our APAC friends have their own server as well, so I can integrate everyone for the next release.

Kind regards,

Benjamin

[2016-04-05 13:36] tuxfre commented on #12
Hi @korinapieters,

Sorry to bug you, I know you're just back from holidays (I hope you could relax a bit) ... but are you aware of such a server as well for Asia, or maybe who I should ask for it?

Kind regards,

Benjamin

[2016-04-06 12:40] evcr opened #13 "No highlight red/green anymore.... version 19"
# Esko SC Script issue
## Affected script
- Name: ServiceCloud List View Highlighter
- Version: 19
## OS
- Name: Win
- Version: 7 prof SP 1
- Language: Eglish
## Browser
- Name: FF
- version: 54.0.1
- language (if different from OS):
## Short summary if your issue

No highlight anymore in RED and Green
![highlight](https://cloud.githubusercontent.com/assets/17274740/14316822/739d2e14-fc05-11e5-945

[2016-04-06 12:44] tuxfre commented on #13
Dear @evcr,

That's odd... it seems to be working over here.
![screen shot 2016-04-06 at 14 45 27](https://cloud.githubusercontent.com/assets/600530/14316947/1dd9df4e-fc06-11e5-9c40-c6e61d51547e.png)

Did you change anything (like your locale in service cloud)?

Can you also show me the date column in the capture (it's a very important one).

[2016-04-06 12:52] evcr commented on #13
Not that I know.... If YOu want to login to take a look, give me a call...

[2016-04-06 12:59] tuxfre commented on #13
Well, usually it's because of the date format ... so, a screencap should be enough to test my theory

[2016-04-07 07:14] korinapieters commented on #12
Hi @tuxfre
There are indeed 3 servers.
Gent: \CC-SW-Problemlog-Gent\CC-SW-Problemlog-Gent
NA/LA:  \CC-SW-Problemlog-NA\CC-SW-Problemlog-NA
APAC:  \CC-SW-Problemlog-ASP\CC-SW-Problemlog-ASP

Kind regards,
Korina

[2016-04-07 08:28] tuxfre commented on #12
Hi @korinapieters,

Thank you very very much. I'm gonna try to integrate that during the day (I have a "hole" in my planning from 12 to 13) and push the new version this afternoon.

Dear @saco-ekso, I'll let you know when the new version is online.

Thanks to both of you for your help and patience

Kind regards,

Benjamin

[2016-04-07 10:49] tuxfre commented on #12
Dear @saco-ekso and @korinapieters

The script was updated (took a few commits, but last was fe83cd3357187f95c3912a350680ff114d8e57d4).

Now there is a configuration icon next to the first job folder link. It allows you to pick your server.

I quickly tested it, it seems ok. Let me know if it works.

Soon off to lunch ;)

[2016-04-07 10:52] tuxfre commented on #3
![screen shot 2016-04-07 at 12 51 59](https://cloud.githubusercontent.com/assets/600530/14348877/8c66baa4-fcbf-11e5-9e83-8e69e43e33ff.png)

[2016-04-07 12:16] saco-ekso commented on #12
I just tested it and no matter with one I choose, EMEA. NALA, or APAC it still opens the folder from this server; \CC-SW-Problemlog-Gent\CC-SW-Problemlog-Gent. I will try restarting Firefox after selecting NALA and see if that helps.

[2016-04-07 12:17] saco-ekso commented on #12
Restarting Firefox after selecting the regional server fixed it.
Thanx!

[2016-04-07 12:22] tuxfre commented on #12
Hi Sam,

I think reloading the page would have been sufficient. I forgot to mention it (I will adapt the doc), like with all preferences, a page reload is mandatory after changing a setting.

But all in all I think it closes this log ;)

[2016-04-07 12:22] #12 closed, assigned to nobody

[2016-04-08 07:16] tuxfre commented on #3
![gear](https://cloud.githubusercontent.com/assets/600530/14376563/931162ae-fd6a-11e5-9846-54ecfea1b443.png)

[2016-04-11 11:04] Ellenvdw opened #14 "Telescope 'traffic light' doesn't show the latest available info"
# Esko SC Script issue
## Affected script
- Name: service cloud telescope status
- Version: 15 maart 2016
## OS
- Name: 10.9.5
- Version:
- Language:
## Browser
- Name: firefox
- version: 45.0.1
- language (if different from OS):
## Short summary if your issue

Telescope traffic light doesn't show the latest available info for the customer MUGLER.
## Steps to reproduce the issue

the latest report

[2016-04-11 12:01] tuxfre commented on #14
Hi @Ellenvdw,

I think I found the (probable) cause, it seems that (Grease/Tamper)Monkey caches the redirection page's contents. So when the script asks for it again it get the cached version instead.

I have an idea for a workaround. I'll test that and let you know.

Kind regards,

Benjamin

[2016-04-11 12:08] tuxfre commented on #14
@Ellenvdw

It's fixed in the ÜBER-BETA branch. You can have a look at it [here](https://github.com/tuxfre/esko-SC-scripts/raw/%C3%9CBER-BETA/ServiceCloud%20Telescope%20Status.user.js) (commit 506b317529504cb6535a05294d4e3ff863c4564f).

You can just install the beta script on top of you existing script and disable the current one in (Grease/Tamper)Monkey.

(and as a bonus, you'll get the fancy menu

[2016-04-11 12:26] Ellenvdw commented on #14
Great ☺ thanks
I’ll give it a try

kind regards
Ellen

---

Ellen Vandewoestyne  |  Software Support Engineer  |  Esko
For all support, visit: http://esko.com/support

[cid:image003.jpg@01D193FE.22B4B720]

From: Benjamin [mailto:notifications@github.com]
Sent: Monday, April 11, 2016 2:09 PM
To: tuxfre/esko-SC-scripts
Cc: Vandewoestyne, Ellen
Subject: Re: [tuxfre/esko-SC-scripts] Telescope 'traffic

[2016-04-12 08:08] Ellenvdw commented on #14
Hi

Just installed the beta version and indeed it fixes the issue!
Thanks!

kind regards
Ellen

---

Ellen Vandewoestyne  |  Software Support Engineer  |  Esko
For all support, visit: http://esko.com/support

[cid:image003.jpg@01D194A3.451C2EB0]

From: Benjamin [mailto:notifications@github.com]
Sent: Monday, April 11, 2016 2:09 PM
To: tuxfre/esko-SC-scripts
Cc: Vandewoestyne, Ellen
Subject: Re: [t

[2016-04-12 08:45] tuxfre commented on #14
So let's close!

[2016-04-12 08:45] #14 closed, assigned to nobody

[2016-04-12 12:06] tuxfre commented on #13
No feedback, then I close.

[2016-04-12 12:06] #13 closed, assigned to nobody

[2016-04-12 12:06] tuxfre commented on #3
![screen shot 2016-04-12 at 14 02 13](https://cloud.githubusercontent.com/assets/600530/14459367/c5dd4004-00b7-11e6-9cfa-f49380b64ce9.png)

[2016-05-03 07:08] evcr opened #15 "highlighter : case viewed without colour. Should have been black."
# Esko SC Script issue
## Affected script
- Name: highlighter
- Version:19
## OS
- Name: Windows
- Version: 7 professional SP1
- Language: English
## Browser
- Name: Firefox
- version: 45.0.2
- language (if different from OS): English
## Short summary if your issue

Case 619723 not highlighted in black. while logged yesterday evening at 17:20
## Steps to reproduce the issue
## Other details:

**Do

[2016-05-03 07:15] tuxfre commented on #15
Hi @evcr

I know i'm annoying with that ... but I really really really need to see the date column. I parse this date to calculate the time and if there is something weird in the date that's often the cause for highlight issues... would you mind scrolling a bit to the right and making another capture so I know what is the date format you use?

Thanks!

Benjamin

[2016-05-03 07:19] evcr commented on #15
![case not in black_2](https://cloud.githubusercontent.com/assets/17274740/14976899/f6edb45e-110f-11e6-962c-1b509e7f44e3.PNG)

Hi Benjamin,

Sorry. Thought you only needed to see the date of my computer. And as the columns are not completely on my laptop (normally I view on the big screen), didn't take care of that... Anyhow, here is the new screendump. Thanks :-)
PS being 'annoying' as you call i

[2016-05-03 07:27] tuxfre commented on #15
Ok, now I see, the date format has no zero as starting number ... I'll have to tweak the regex for this ;)

Back to you soon with a fix.

[2016-05-03 07:32] tuxfre commented on #15
Should be fixed by commit 506f398a9dfaebee923d1edd773c28d96a81c562.

Please update to version 20 and let me know if it's better 😉

[2016-05-03 07:44] evcr commented on #15
You're a hero.
Solved with version 20 !!
You can close the case.
your MTTR is even getting better I guess ;-)

[2016-05-03 07:44] #15 closed, assigned to nobody

[2016-05-03 07:44] tuxfre commented on #15
13 minutes between the screenshot and the fix... I ought to do better

https://youtu.be/sEpuYFHjayw

[2016-05-03 07:54] korinapieters commented on #15
☺

Korina Pieters  |  Service Business System Engineer  |  Esko
T. +32 (0)9 216 90 19

[Description: Description: esko-logo-mail]

Kortrijksesteenweg 1095
B-9051 Gent, Belgium

From: Benjamin [mailto:notifications@github.com]
Sent: Tuesday, May 03, 2016 9:44 AM
To: tuxfre/esko-SC-scripts
Subject: Re: [tuxfre/esko-SC-scripts] highlighter : case viewed without colour. Should have been black. (#15)

[2016-12-21 15:06] tuxfre opened #16 "ServiceCloud Declutter Edit form/ adaptations needed for the new layout of the edit form"
# Esko SC Script issue

## Affected script
* Name: ServiceCloud Declutter Edit form
* Version: 7

## OS
* Name: OSX
* Version: Multiple (testes by BEVI using el Capitan)
* Language: not language-dependent

## Browser
* Name: Safari
* version: Version 10.0.1 (11602.2.14.0.7)
* language (if different from OS): not language-dependent

## Short summary if your issue
As reported by TD, the folding of b

[2016-12-21 15:12] tuxfre commented on #16
made a post on the announcements page

https://github.com/tuxfre/esko-SC-scripts/wiki/Announcements#new-servicecloud-edit-form-layout

[2016-12-21 15:14] tuxfre commented on #16
Dear @korinapieters,

Next time there is a change to the layout of the edit page being prepared, would it be possible to get an early warning (maybe a couple weeks) so I can prepare before (maybe by looking at the test system).

That would prevent the users from having to wait until I fix the issue ;)

Thanks!

[2016-12-21 15:32] korinapieters commented on #16
Hi Benjamin,

I’m very sorry for the inconvenience.
I will keep you updated as much as possible. Unfortunately I often hear about it only some hours before… like was the case for the case page layout.

All features to be deployed still in the coming days are available on the Accept sandbox. Could you try esko.oktapreview.com and verify if you see the Salesforce Accept sandbox?

But the major chang

[2016-12-21 15:37] korinapieters commented on #16
Hey Korina,

I hope the tone wasn't too harsh… that wasn't the intention. I know that as often as esko, it's "take it as it comes" ;)

I'll try fixing this tomorrow and then I'll have a look at the sandbox. Anything special I should pay attention to?

(side note: nice that you brought the action required toggle back to the top of the right column, I was already thinking of making a plugin to put i

[2016-12-22 08:59] tuxfre commented on #16
The script should be adapted to the new layout.
(see 6bb79d2091b61aac213cee375753e0e6726ca5ed)

Please update your scripts from the repository (if your plugin didn't do it for you)

[2016-12-22 09:07] tuxfre commented on #3
![screen shot 2016-12-22 at 10 03 13](https://cloud.githubusercontent.com/assets/600530/21420496/605e62be-c82e-11e6-8b7c-bc24a24c2873.png)

[2016-12-22 09:11] #16 closed, assigned to nobody

[2017-01-10 15:39] andsesko opened #17 "Feature Request: ServiceCloud Declutter Edit Form for Close( to Confirm): unfold Billing Information"
# Esko SC Script issue

## Affected script
* Name: ServiceCloud Declutter Edit Form
* Version: Irrelevant

## OS
* Name: Irrelevant
* Version: Irrelevant
* Language: Irrelevant

## Browser
* Name: Irrelevant
* version: Irrelevant
* language (if different from OS): Irrelevant

## Short summary if your issue
Feature Request: ServiceCloud Declutter Edit Form for Close( to Confirm): unfold Billing Inf

[2017-01-10 15:41] tuxfre commented on #17
Thanks for suggesting!

It could make sense indeed ;)
I'll have a look at that tomorrow

[2017-01-10 15:52] tuxfre commented on #17
Hi @andsesko,

I was feeling playful 🎉  today, so I modified the code and submitted it ... without any kind of testing. (see 641345cb1ad22c96b703e7c131ca765cfa2bc7c5)
If you force your plugin to update the scripts, and refresh the page, it should be ok.

let me know if I broke it 😉

[2017-01-10 15:58] andsesko commented on #17
So I noticed... :)
Will have a look and let you know :)

[2017-01-10 16:02] andsesko commented on #17
Looks OK to me!
Gracias!

[2017-01-10 19:17] tuxfre commented on #17
If it's good enough for you, it's good enough for me 😆

Let's close 🚪

[2017-01-10 19:17] #17 closed, assigned to nobody

[2017-01-10 19:18] tuxfre commented on #17
(oh, btw, how's my response time on this one? and my mttr?)

[2017-01-11 07:42] andsesko commented on #17
Not so good. Worrying. You are overshooting, creating an unrealistic expectation pattern with your customers :P

[2017-01-11 07:44] tuxfre commented on #17
Sorry, I'll try meeting esko's standards next time :rofl:

[2017-01-11 07:52] Ellenvdw commented on #17
For me you are the best.
:-p

From: Benjamin [mailto:notifications@github.com]
Sent: Wednesday, January 11, 2017 8:44 AM
To: tuxfre/esko-SC-scripts
Cc: Subscribed
Subject: Re: [tuxfre/esko-SC-scripts] Feature Request: ServiceCloud Declutter Edit Form for Close( to Confirm): unfold Billing Information (#17)

Sorry, I'll try meeting esko's standards next time 🤣

—
You are receiving this because you

[2017-01-11 07:53] tuxfre commented on #17
wow, wow, wow... now that's unrealistic expectations 😆  (jk)

[2017-01-11 07:56] andsesko commented on #17
The Russians are spying on us !

[2017-01-11 08:06] tuxfre commented on #17
well, that's good, isn't it... means we're almost as important as The Donald

(dear Vlad, if you're reading this, big fan, please don't send me to Siberia)

[2017-03-17 12:08] evcr opened #18 "Better Files Widget : When having opened a visualisation of the file, it is difficult to get back to the default case details / feed view."
# Esko SC Script issue

## Affected script
* Name: Better Files Widget
* Version: (first one released ;-) Version 1 last update 17 march

## OS
* Name: Windows
* Version: 7 professional SPA
* Language: English

## Browser
* Name: Firefox
* version: 52
* language (if different from OS):

## Short summary if your issue

Clicked on file to view it.
Afterwards difficult to get back to normal case feed

[2017-03-17 13:15] tuxfre commented on #18
Hi @evcr

Would opening the file in a new browser tab/window help? (that's the best I can come up right now)

Kr,

Benjamin

[2017-03-17 13:25] evcr commented on #18
Hi Benjamin,

Again such a quick answer ☺

Would be great to, when clicking on the file, open it by default in a new tab, not in the window itself.

Below the promised screenshot on what I see and my findings (with current behaviour)

Apparently, at opening of the attachement, it changes the case tab to an ‘external page’ tab.
Meaning I cannot click on the different screendumps one after the other

[2017-03-17 13:29] tuxfre commented on #18
Hi @evcr

I guess if I can get it to open in a new tab then we worked around the issue ;)

(note that the screendump didn't make it into Github's ticket... so I ca only guess what you have onscreeen, could you upload it at https://github.com/tuxfre/esko-SC-scripts/issues/18?)

Kr,

[2017-03-17 13:32] evcr commented on #18
![openeing a screenshot](https://cloud.githubusercontent.com/assets/17274740/24045190/846bd690-0b1e-11e7-9ba4-b5f1227db7a9.png)

[2017-03-17 13:43] tuxfre commented on #18
Yup, the capture confirms that having a new tab is **the** solution.
I've added the code, I have to test it (I'm also cleaning up and documenting my code).

If it's fine on my end, then I'll upload it asap as V4.

[2017-03-17 14:06] tuxfre commented on #18
Hi @evcr

I pushed a new version (https://github.com/tuxfre/esko-SC-scripts/commit/6c433651b7cc093a674912fbe46324142ac3dab8) to fix this issue.

Can you update your script?

Kr,

[2017-03-17 15:21] evcr commented on #18
Hi Benjaminj,

Uploaded v 4, and after a restart of my browser the screendumps are opened in a new tab ☺
Great !!!!!!!!

You deserve (again) a fantastic weekend ;-)
Eva

Eva Creten |  Solutions Support Engineer  |  Esko

For all support, visit: http://esko.com/support

[cid:9C72BB59-1BD5-4EB0-821A-118BEA7D8B72]

From: Benjamin [mailto:notifications@github.com]
Sent: Friday, March 17, 2017 3:06 PM

[2017-03-17 20:54] tuxfre commented on #18
Hi @evcr

Glad that it works!

Enjoy the weekend too.

(and let's close this issue)

[2017-03-17 20:54] #18 closed, assigned to nobody

[2017-03-21 14:07] evcr opened #19 "Files Widget - unresponsive script"
# Esko SC Script issue

## Affected script
* Name: Files Widget
* Version: 5

## OS
* Name: Windows
* Version: 7 professional SP1
* Language: English

## Browser
* Name: FF
* version: 52
* language (if different from OS): English

## Short summary if your issue
unresponsive script.
See screenshot
![files_widget_error 1](https://cloud.githubusercontent.com/assets/17274740/24151097/0bec4880-0e48-11e

[2017-03-21 14:14] tuxfre commented on #19
mmm... that's odd

The error would point out to jQuery itself, which is the library I use to manipulate the elements on the pages...

1.  ![download](https://cloud.githubusercontent.com/assets/600530/24151384/e7e04e68-0e48-11e7-87c8-da60da0e2b9a.jpg) (no, seriously, have you restarted Firefox?)
2. Did it happen after an upgrade of the script?
3. If you have no ServiceCould tabs open (like "0083782

[2017-03-21 14:16] tuxfre commented on #19
(and if you let the script continue, does it bogs FF down?)

[2017-03-21 14:42] ortenau opened #20 "jf_ disco in salesforce"
# Esko SC Script issue

## Affected script
* Name: jan
* Version:

## OS
* Name: mac osx
* Version: 10.11.6
* Language: german

## Browser
* Name: firefox
* version: 50.0.2
* language (if different from OS): german

## Short summary if your issue
if you move with your mouse curser over the send screenshot you see a disco ;)
the screenshot pops up and hide

## Steps to reproduce the issue
go in a j

[2017-03-21 15:29] tuxfre commented on #20
Converted the file to an animated GIF (https://cloudconvert.com/mov-to-gif)

![salesforce 1](https://cloud.githubusercontent.com/assets/600530/24155191/69cace3a-0e53-11e7-8984-de741010d838.gif)

[2017-03-21 15:36] tuxfre commented on #20
Hi @ortenau

I'm afraid that there's not much I can do here, your screen isn't wide enough :rofl:
Ask IT for a bigger monitor.
Do you know what is your current screen resolution on this monitor?

Let me explain, when you hover the link, it triggers the popup, which appears where your pointer is, thus it no longer hovers the link (but the popup) which triggers hiding the popup... and then your curs

[2017-03-21 15:53] tuxfre commented on #20
@ortenau

I've just pushed a new version (https://github.com/tuxfre/esko-SC-scripts/commit/15acd8cc7869db2eba17622c076d24f209ebba93, yet untested) let me know if this helps ;)

[2017-03-21 15:53] tuxfre commented on #20
woops didn't want to close

[2017-03-23 07:51] tuxfre commented on #19
Hi @evcr

Did it happen again?

[2017-03-23 07:52] tuxfre commented on #20
Hi @ortenau

Did the new releases help?

[2017-03-23 08:46] ortenau commented on #20
no, sorry,

still the same issue.
I think it has to do with the size of the screenshot.
smaller images works fine.

Bei weiteren Fragen, stehen wir Ihnen gerne zur Verfügung.

Mit freundlichen Grüßen

Jan Fässler

Jan Fässler  |  Senior Solution Support Engineer  |  Esko

Für Support besuchen Sie: http://esko.com/support

[unknown.png]

Esko-Graphics GmbH  -  Heerskamp 6  -  25524 Itzehoe  -  Germ

[2017-03-23 08:48] tuxfre commented on #20
Hi @ortenau

Yes, more or less that's the root of the issue, we don't have enough width...
But what is strange is that it shouldn't span over the links...

Could you give me the screen resolution you use, and also if your browser window spans the whole screen width...

[2017-03-23 08:56] ortenau commented on #20
Hi,

I use a third-part tool to merge two monitor in one.
Matrox Powerdesk

[cid:3114DA41-63DB-4351-8D12-FF1E19B9FE33]

Bei weiteren Fragen, stehen wir Ihnen gerne zur Verfügung.

Mit freundlichen Grüßen

Jan Fässler

Jan Fässler  |  Senior Solution Support Engineer  |  Esko

Für Support besuchen Sie: http://esko.com/support

[unknown.png]

Esko-Graphics GmbH  -  Heerskamp 6  -  25524 Itzehoe  -

[2017-03-23 08:58] tuxfre commented on #20
Ah ok...

try going to http://whatsmy.browsersize.com/ so we have some idea on how big it is...

[2017-03-23 09:01] ortenau commented on #20
[cid:2ACD37FA-7D11-4AB1-A1DD-1AC2BBD9E4A8]

Bei weiteren Fragen, stehen wir Ihnen gerne zur Verfügung.

Mit freundlichen Grüßen

Jan Fässler

Jan Fässler  |  Senior Solution Support Engineer  |  Esko

Für Support besuchen Sie: http://esko.com/support

[unknown.png]

Esko-Graphics GmbH  -  Heerskamp 6  -  25524 Itzehoe  -  Germany

Geschäftsführer: Holger Jacobsen, Dagmar Reimers, Bruno Vaes
Amtsge

[2017-03-23 09:05] tuxfre commented on #20
Hi @ortenau

Unfortunately when you answer by mail the images aren't posted to github...

Can you post to https://github.com/tuxfre/esko-SC-scripts/issues/20 ?

[2017-03-23 09:13] ortenau commented on #20
![bildschirmfoto 2017-03-23 um 10 00 51](https://cloud.githubusercontent.com/assets/26575100/24240287/46e712ca-0fb1-11e7-8af0-d9934031e31c.png)
![bildschirmfoto 2017-03-23 um 09 51 17](https://cloud.githubusercontent.com/assets/26575100/24240288/46eaf502-0fb1-11e7-95f7-718442476783.png)

[2017-03-23 09:16] tuxfre commented on #20
mmm...
So basically the browser window is in a very wide screen... and it has (roughly) a 1:2 ratio
I'd have to see how I can simulate this and figure a workaround for such a special case

I'lll think of it today, and see if I can come up with something

Thanks for the details

[2017-03-29 08:19] tuxfre commented on #3
![unknown-1](https://cloud.githubusercontent.com/assets/600530/24445135/335c1c3e-1469-11e7-83de-3939c3235785.png)
![unknown](https://cloud.githubusercontent.com/assets/600530/24445136/3378c384-1469-11e7-8e3a-d4898235400b.png)

[2017-03-29 08:35] tuxfre commented on #19
Ok, no feedback, assuming the issue hasn't occurred again => closing

(can be reopened on request of @evcr)

[2017-03-29 08:35] #19 closed, assigned to nobody

[2017-04-20 08:48] Ellenvdw opened #21 "install link for refresh list/telescope report doesn't seem to work"
# Esko SC Script issue

## Affected script
* Name: refresh list and telescope report
* Version:

## Browser
* Name: firefox 52

## Short summary if your issue
installer link doesn't work. when using the http link, it says the page is not found

f.i. https://github.com/tuxfre/esko-SC-scripts/raw/master/ServiceCloud Telescope Status.user.js "Install the script")
<img width="789" alt="screen shot 201

[2017-04-20 08:50] tuxfre commented on #21
Hi @Ellenvdw

This was just reported by Erwin as well (albeit not using the issue tracker)
I have edited the pages, so if you refresh it should be good now

Seems that GitHub had updated their markdown parser and now it doesn't tolerate whitespace in URLs anymore ...

[2017-04-20 08:50] tuxfre commented on #21
@Ellenvdw

Can you confirm it's now fixed on your end?

[2017-04-20 08:50] Ellenvdw commented on #21
:-) indeed I can confirm it's working now

[2017-04-20 08:51] Ellenvdw commented on #21
thanks

[2017-04-20 08:51] tuxfre commented on #21
Thanks!

So let's close

[2017-04-20 08:51] #21 closed, assigned to nobody

[2017-05-02 08:01] tuxfre commented on #3
![2017-05-02 09_48_16](https://cloud.githubusercontent.com/assets/600530/25609174/5ac630e6-2f1e-11e7-9bfe-8b3486bd1d03.gif)

[2017-11-10 19:51] saco-ekso opened #22 "Wish - Cases colored based on last contact"
# Esko SC Script issue

## Affected script
* Name:
* Version:

## OS
* Name:
* Version:
* Language:

## Browser
* Name:
* version:
* language (if different from OS):

## Short summary if your issue
This is a wish. We now have a script that will color cases base on how close they are to the start milestone. What we would like is a script that colors user's cases based on the last time they had an a

[2017-11-10 20:28] tuxfre commented on #22
Hi @saco-ekso

It's already weekend on this side of the pond 😉

But I promise I'll take a look on monday.

So it's more for cases that are already in "Working" status, right?

Enjoy the weekend!

Friendly regards,

Benjamin

[2017-11-10 20:32] saco-ekso commented on #22
Yes, that is correct, working cases.

I didn’t expect a response until Monday, go back to enjoying your weekend! ;-)

Kind regards,

Sam Cox | Application Support Specialist | Esko

From: Benjamin [mailto:notifications@github.com]
Sent: Friday, November 10, 2017 3:29 PM
To: tuxfre/esko-SC-scripts
Cc: Cox, Sam G; Mention
Subject: Re: [tuxfre/esko-SC-scripts] Wish - Cases colored based on last conta

[2017-11-13 14:03] tuxfre commented on #20
I'm closing as "can't reproduce"... sorry

[2017-11-13 14:03] #20 closed, assigned to nobody

[2017-11-13 14:53] tuxfre commented on #22
Hi @saco-ekso

## I just posted the first version.

You can install it by going to https://github.com/tuxfre/esko-SC-scripts/raw/master/ServiceCloud%20Working%20Cases%20Highlighter.user.js
I plan on adding a wiki entry at some later stage (when we're sure it works and covers your needs).

It highlights cases with status either "Working" or "Waiting" (all the waiting types) but not R&D or licensing

[2017-11-14 21:59] saco-ekso opened #23 "Firefox Quantum"
# Esko SC Script issue

## Affected script
* Name: All of them
* Version:

## OS
* Name: Windows
* Version: 7
* Language: English

## Browser
* Name: Firefox Quantum
* version: 57.0
* language (if different from OS):

## Short summary if your issue
Scripts no longer work.

## Steps to reproduce the issue

## Other details:
**Don't hesitate to include details and screenshots.**
There are recommenda

[2017-11-15 08:53] tuxfre commented on #23
Hi @saco-ekso,

_[note that I'm off work at least until the 22-nov-17]_

The quickest thing to get the scripts working in Quantum is indeed to use Greasemonkey as suggested by GM's authors.

To be honest, their decision to break backward compatibility with older userscripts is quite risky... lots of (non-esko) scripts aren't maintained anymore and that could drive users to other extensions.

We'd

[2018-01-04 11:44] tuxfre commented on #23
I think we can all agree that Tampermonkey makes a good alternative ... so I'll close this

[2018-01-04 11:44] #23 closed, assigned to nobody

[2018-01-04 11:45] tuxfre commented on #22
I guess it's working good (no complains) so let's close...

[2018-01-04 11:45] #22 closed, assigned to nobody

[2018-01-09 18:45] saco-ekso opened #24 "Job folder link not working"
# Esko SC Script issue

## Affected script
* Name: ServiceCloud Local links
* Version: latest

## OS
* Name: Windows 10 Pro
* Version: 10
* Language: English

## Browser
* Name: Firefox
* version: 52.5.3
* language (if different from OS):

## Short summary if your issue

My hard drive failed and it was replaced. Once I reinstalled the Esko SC Scripts the link to the Job folder does not work. I did

[2018-01-09 21:17] tuxfre commented on #24
Hi @saco-ekso

Maybe check what we had done in [issue 11](https://github.com/tuxfre/esko-SC-scripts/issues/11). You can also follow the steps at https://github.com/tuxfre/esko-SC-scripts/wiki/*-Scripts-*-Local-Links#notes-regarding-firefox (Firefox actually protects you against script accessing your local hard drive, so we have to cheat a bit).

Good luck

(I expect to be back on duty on the 19th

[2018-01-10 14:28] saco-ekso commented on #24
Hi Benjamin,
That didn't solve the issue this time in Windows 10 and Firefox 52.5.3. I already had the script installed when I added the user file but I did run the installer for the script again but that didn't help either. No rush, this can wait until you return on the 16th.
Thanx,
Sam

[2018-01-10 16:05] tuxfre commented on #24
Hi @saco-ekso

In which folder (can you copy the path here) did you copy the user.js file? (can you copy/paste the full path here?)

Also, I'm sorry to tell that I don't have Win 10 for testing ... so I could have some issues reproducing.
Do you know if anyone else uses Win 10 and what their experience was?

Regards,
Benjamin

[2018-01-10 16:09] saco-ekso commented on #24
Here's where I copied it to:
C:\Users\saco\AppData\Roaming\Mozilla\Firefox\Profiles\s34mm96o.default

[2018-01-10 16:11] tuxfre commented on #24
yup, that's the good location 🙁
so we have another issue here

did you check if the file:// protocol isn't already associated to some other application?

[2018-01-10 16:13] saco-ekso commented on #24
How do I check to protocol?

[2018-01-10 16:15] tuxfre commented on #24
1. go to the "Applications" section of the option panel
(you can type about:preferences#applications in the address bar
2. use the search file to filter on "file"
3. make sure it's set to "Use Windows Explorer"

(sorry for the incomplete post earlier, my finger slipped)

[2018-01-10 16:22] saco-ekso commented on #24
Nope, no association set up for file://

[2018-01-10 16:39] tuxfre commented on #24
and if you manually set it to the windows explorer?

[2018-01-10 16:45] saco-ekso commented on #24
file:// doesn't show in the list.
![applications](https://user-images.githubusercontent.com/18007911/34784256-c7499e66-f5fb-11e7-8e3b-064121cd8139.png)

[2018-01-10 16:53] tuxfre commented on #24
huh...
And you're using FF57 (aka Quantum)?

Seems it requires extra steps as described in the solution at https://support.mozilla.org/en-US/questions/1185059

[2018-01-10 21:46] saco-ekso commented on #24
I have version 52.5.3 ESR installed.

I did find a way to get it to work. I installed the IE Tab extension
![image](https://user-images.githubusercontent.com/18007911/34796861-f823814a-f624-11e7-92f3-05db1d1b1176.png)
And now I can right click on the Job Folder link and choose "Open Link in Ext.App" and it does open the folder.
![image](https://user-images.githubusercontent.com/18007911/34797228-c

[2018-01-10 21:47] saco-ekso commented on #24
I'm guessing it's a Windows 10 issue. My colleague who is running Windows 7 was having the same problem so I sent him your instructions and it fixed it for him.

[2018-01-11 10:00] tuxfre commented on #24
Hi Sam,

Glad that you could find a workaround... it's a bit the nuclear warhead to kill a fly, but as long as it works ;)

Indeed it would seem that Win 10 may have introduced new issues with regards to opening local files from a browser (again, from a security perspective, it makes sense to prevent web page from accessing local data)

If I get my hands on a Win 10 VM, I'll do some tests, but in

[2018-01-11 12:43] saco-ekso commented on #24
That sounds good. Let me know what you find out about Windows 10.

[2018-01-11 12:43] #24 closed, assigned to nobody

[2018-01-11 12:44] tuxfre commented on #24
Will do!

[2019-05-07 13:16] saco-ekso opened #25 "Tampermonkey not supported in Firefox"
# Esko SC Script issue

## Affected script
* Name: All Esko scripts
* Version:

## OS
* Name: All
* Version:
* Language:

## Browser
* Name: Firefox Quantum
* version: 60.6.1esr
* language (if different from OS):

## Short summary if your issue
Tampermonkey is no longer supported. It there another way to run the scripts in Firefox?

## Steps to reproduce the issue

## Other details:
**Don't hesita

[2019-05-08 07:41] EskoAftercareCOE commented on #25
Hoi,
Firefox had an issue with certifications for addons, including TamperMonkey. However, this is solved again now. (you might need to upgrade Firefox to the latest version, to get the fix)

So, you should be able to use the scripts gain now. If not, let us know!

All the best,
Peter